@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');


:root{
    --theme-color:  #7BB243;
    --secondary-color: #1E417C;
    --dark:  #262626 ;

     
}
body{
    font-family: 'Poppins', sans-serif;
}

.top-header-section{
    padding: 19px 0;
}
.info-box{
    display: flex;
    align-items: center;
}
.info-box img{
    margin-right: 12px;
}
.info-box p, .info-box{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px; 
    color: var(--dark);
    text-decoration: none;
    margin-bottom: 0; 
    

}

/******* 
social-list
*******/
.social-list{

    z-index: 10;
position: fixed;top: 50%;transform: translateY(-50%);left: 20px;
}
.social-list ul{margin-bottom: 0;}
 
.social-list ul li a{
    background: var(--theme-color);
    color: #fff;display: block;
    margin: 10px 0;border-radius: 50%;
    width: 50px;height: 50px;font-size: 20px;display: flex;
    align-items: center;justify-content: center;text-decoration: none;
    transition-duration: 0.3s;
    opacity: 0.5;
    transform:  rotate(0deg)  scale(0.9);
}
.social-list ul li a:hover{
    background: var(--secondary-color);
    transform: rotate(360deg)  scale(1); 
    opacity: 1;
}


/* ===================== 
header section
==================== */
header{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 140px;
}
.navbar-light .navbar-nav .nav-link { 
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
text-align: center; 
color: #FFFFFF;

padding-right:15px;
padding-left:15px;
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link{
    color: var(--theme-color);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ffffff !important;
    background-color: var(--theme-color);
}
.dropdown-menu { 
    padding: 0 0;
    overflow: hidden;
}
.nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

.btn-custom{
    background: var(--theme-color);
border-radius: 5px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;  
text-align: center; 
color: #FFFFFF;
padding: 13px 38px;
}
.btn-reverse{
    background: var(--secondary-color);

}
.btn-reverse:hover{
    background: var(--theme-color);

}

.btn-custom:hover{
    background: var(--secondary-color);
    color: #fff;
} 


.carousel-caption {
    position: static;
    max-width: 800px;
    margin: auto;
}
.carousel-caption h1{
    font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 82px;
text-align: center;

color: #FFFFFF;
}
.carousel-caption p{ 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
margin: 30px 0 50px;

color: #FFFFFF;
}
.carousel-inner { 
    overflow: hidden;
    min-height: 500px;
    display: flex;
    align-items: center;
}
.carousel-indicators [data-bs-target] {
    
    width: 12px;
    height: 12px;
    border-radius: 50%;  
    background-clip: padding-box;
    border: 2px var(--theme-color) solid;
    border-top: 2px solid  var(--theme-color);
    border-bottom: 2px solid  var(--theme-color);
    opacity: 1; 
    background-color: #7ab24300;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #7bb243;
}


/* service-section */
.service-section{
    padding: 30px 0;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
}
.heading h2{
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px; 
color: #1C3664;
}
.heading h2 span{
    color: var(--theme-color);
}
.heading p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
max-width: 750px;
margin: auto;

color: var(--dark)
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 5px;
padding: 20px;
margin-bottom: 30px;
}
.service img{
    
width: 80px;
height: 80px;
}
.service span{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px; 

text-align: center; 
color:var(--theme-color);
}



/***  doctor ****/
.doctor-section{
    padding: 50px 0;
}
.doctor{
    text-align: center;
    background: #FFFFFF;
box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
border-radius: 5px;
border: 0;
}
.doctor img{}
.doctor .card-body{}
.doctor .card-body h5{ 
font-weight: 500;
font-size: 28px;
line-height: 42px; 
text-align: center; 
color: var(--theme-color);
margin-bottom: 0;
}
.doctor .card-body p{ 
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;
color: var(--dark);
}
.doctor .card-body a{
    background: rgba(130, 187, 76, 0.1);
border-radius: 25px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
color: var(--theme-color);
text-align: center;
padding: 13px 17px;

}

.doctor .card-body a:hover {
    background-color: var(--theme-color);
    color: #fff;
}


/******************************
choose-section
**************************/
.choose-section{
    padding: 50px 0;
}
.counter{
    background: rgba(9, 176, 115, 0.05);
border-radius: 5px;
padding: 30px 40px;
display: flex;
margin-bottom: 30px;}
.counter h2{ 
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 1.2;
color: var(--theme-color);

margin-bottom: 0;}
.counter img{}
.counter span{font-size: 14px;}
.counter div{padding-left: 20px;}

.choose-section p{
    font-size: 18px;
}

 



/***********************
Appointment-section 
*****************/
.Appointment-section{}
.appointment-form{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
border-radius: 5px;
padding: 50px;
}
.appointment-form form{}
.appointment-form div{}
.appointment-form label{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: var(--theme-color);
}
.appointment-form label sup{font-size: 20px;color: #000;transform: translateY(8px);display: inline-block;}

.appointment-form input, .appointment-form select{
    border: 1px solid rgba(229, 229, 229, 0.5);

border-radius: 5px;

color: rgba(44, 62, 80, 0.3) !important;
}

::placeholder{
    color: rgba(44, 62, 80, 0.3) !important;
}

.appointment-form ul li{
    flex-basis: calc( 50% - 10px);
}
.appointment-form input[type="submit"]{
    color: #fff !important;
    width: 100%;
}
.Appointment-section{
    padding-bottom: 50px;
}